{"query": "query Issues {\n    issues(\n        orderBy: createdAt\n        filter: {\n            team: {\n                key: {\n                    eq: \"{{ team_key }}\"\n                }\n            }\n        }\n        first: {{ max_nb_tickets }}\n        includeArchived: false\n    )\n    {\n        nodes {\n            identifier\n            title\n            cycle {\n                name\n            }\n            project {\n                name\n            }\n            state {\n                name\n            }\n            priorityLabel\n            parent {\n                identifier\n            }\n            labels {\n                nodes {\n                    name\n                }\n            }\n            description\n            url\n        }\n    }\n}" }