{"query": "query Cycles {\n    cycles(\n        filter: {\n            team: {\n                key: {\n                    eq: \"{{ team_key }}\"\n                }\n            },\n            isPast: {\n                eq: true\n            }\n        }\n    )\n    {\n        nodes {\n            name\n            team {\n                key\n            }\n            startsAt\n            endsAt\n            scopeHistory\n            completedScopeHistory\n            inProgressScopeHistory\n            progress\n            uncompletedIssuesUponClose {\n                nodes {\n                    title\n                    identifier\n                    url\n                    state {\n                        name\n                    }\n                }\n            }\n        }\n    }\n}" }